.home{
    .white-card{
        width:100%;
        display: flex;
        flex-direction: column;
        background:#FFF;
        padding:$margin-16 $margin-14;
        border-radius:5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        align-items: center;
        p{
            margin-bottom: $margin-16;
            width:100%;
            color:black;
            text-align: center;
            -webkit-font-smoothing:antialiased;
            line-height:1.2em;
        }
        .white-card-buttons{
            width:100%;
            display: flex;
            justify-content: space-evenly;
            a{
                width:40%;
                text-align: center;
                padding:10px 20px;
                border:1px solid $purple;
                color:$purple;
                font-size:14px;
            }
        }

    }
    form{
        padding:0 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .status-option{
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            p{
                margin:0 0 0 5px !important;
            }
        }
    }
    .checkin {
        text-align: center;
    }
    h1{
        text-align: center;
    }
    b{
        text-align:center;
    }
    .status{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .buttons{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a{
            margin-right:20px;
            text-transform: uppercase;
            color:white;
            font-size:16px;
            font-weight: 400;
        }
        input[type='submit']{
            text-transform: uppercase;
            background: white;
            border-radius: 2px;
            padding: 9px 17px;
            font-size: 16px;
            color:$purple;
            border:none;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.30);
        }
    }
}
