.information{
    flex-direction:column;
    display: flex;
    align-items: center;
    min-height: 50vh;
    p{
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size:18px;
        min-width:300px;
        color:white;
    }
}

.error-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    img, h1{
        margin-bottom:20px;
    }
}

