#app {
    .btn-login{
        background: white;
        color:#E54128;
        border-radius: 3px;
        padding:10px 15px;
        font-size:15px;
        font-weight:700;
        margin: 0;
        display: flex;
        align-items: center;
        p{
            margin:0!important;
        }
        img{
            margin-right:5px;
            height:22px;
            width:auto;
        }
    }

    height:100vh;
    padding:$margin-16 $margin-20;
    h1{
        font-size:35px;
        height:72px;
        margin-bottom:$margin-44;
    }
    h2{
        font-size:24px;
        margin:0;
    }
    b{
        font-weight: 700;
        -webkit-font-smoothing:antialiased;
    }
    .map{
        position: relative;
    }
    .zoom-buttons{
        display: flex;
        flex-direction: row;
        color:black;
        position: absolute;
        left:8px;
        top:20px;
    }
    .map-overflow{
        overflow: auto;
        width:100%;
    }
    object{
        transition: width 500ms ease-in-out;
        margin:16px 0;
        overflow: inherit;
        width:100%;
    }
    .purple-card, .purple-card-search{
        width:100%;
        display: flex;
        flex-direction: column;
        background:$light-purple;
        padding:$margin-16 $margin-14;
        border-radius:5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
    .purple-card{
        align-items: center;
        p{
            margin-bottom: $margin-16;
            width:100%;
            text-align: center;
            -webkit-font-smoothing:antialiased;
            line-height:1.2em;
        }
    }
    .purple-card-search{
        margin-bottom: 20px;
        p{
            width:auto;
            margin: $margin-16 0;
            font-weight:300;
            text-align: center;
            -webkit-font-smoothing:antialiased;
            line-height:1.2em;
        }
        .legend{
            h3{
                font-weight: 300;
            }
            .legend-toggle{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                img{
                    height:10px;
                    width:auto;
                    fill:white;
                }
            }
            .legend-parts{
                margin-top:10px;
                display: flex;
                justify-content: space-between;
                p{
                    font-size: 12px;
                    margin:0 7px;
                    font-weight:500;
                }
            }
            .legend-arrow{
                transform: rotate(180deg);
            }
            .legend-box{
                display: flex;
                align-items: center;
                .box1, .box2, .box3, .box4{
                    width: 20px;
                    height: 20px;
                    border: 1px solid white;
                }
                .box3{
                    background-color: rgb(212, 240, 255);
                }
                .box2{
                    background-color: #FFF;
                }
                .box4{
                    background-color: #ffbec3;
                }
                .box1{
                    background-color: #2f00be;
                }
            }

        }
        .checkbox{
            display: flex;
            flex-direction: row;
        }
        p.checkbox-text{
            margin: 0 0 0 5px;
            font-size:14px;
            font-weight: 500;
        }

        .users-info, .disabled{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color:white;
            border-radius:3px;
            padding:7px 14px;
            margin-bottom: $margin-18;
            color:#3B3B3B;
            text-decoration: none;
            font-size:14px;
            font-weight:300;
            p {
                flex-grow:1;
                text-align: left;
                margin: 0;
            }
            i{
                flex-grow:2;
                color:#BEBEBE;
                text-align: right;
            }
        }
        .disabled{
            background-color:#E5E5E5;
            color:#ACACAC;
        }
    }
}
main{
    min-height:calc(100vh - 238px);
}
body{
    background-color: $purple;
    color:white;
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-size:20px;
}
.popup-background{
    z-index: 100;
    background: rgba(0, 0, 0, 0.47);
    height:100vh;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    padding:0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .popup{
        .popup-close{
            align-self:flex-end;
            cursor: pointer;
        }
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        color:black;
        img{
            width:150px;
        }
    }
}
