nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:16px;
    margin-bottom:20px;
    .logo{
        height:50px;
    }
    .info{
        a, a:hover, a:active{
            color:white;
        }
        a:nth-child(1){
            margin-right:5px;
        }
        .infoicon{
            width:18px;
        }
        img{
            fill:white;
        }
    }
}
.accordion{
    margin-bottom: 16px;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    border-radius:2px;
    border-bottom: none;
    img{
        height:10px;
        position:relative;
        right:0;
        top:-1px;
        transition: transform 0.5s ease-in-out;
    }
    p{
        color: $secondary-font;
        font-size:16px;
        margin:0;
        font-family: 'Roboto', sans-serif;
    }
    h2{
        color:#3C3C3C;
        font-size: 25px;
        margin:10px 0 15px 0;
    }
}
.card-body{
    color:$secondary-font;
    font-size:16px;
    padding-top:0;
    p{
        font-size:16px;
    }
}


footer{
    position: relative;
    bottom: 30px;
    margin:15px 0 0 10px;
    display: flex;
    align-items: center;
    .footer{
        display: flex;
        justify-content: space-between;
    }
    a{
        color: white;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        span{
            margin-right:10px;
            margin-top:-5px;
            font-size:15px;
        }
        p{
            font-family: Roboto, sans-serif;
            font-weight: 200;
            font-size: 16px;
            margin:0;
        }
        &:hover{
            color:white;
            p{
                text-decoration: underline;
            }
        }
    }
}

