// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    object{
        margin-top:25px;
        width: 600px;
        height: auto;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    object{
        margin-top:25px;
        width: 800px;
        height: auto;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #app{
        padding:50px;
        h1{
            text-align: center;
        }
        .purple-card{
            padding:50px 0px;
            form{
                max-width: 55%;
            }
        }
        .purple-card-search{
            padding:30px;
            .legend-toggle{
                h3{
                   font-size:18px;
                }
            }
            .legend .legend-box{
                p{
                    font-size:14px;
                }
                .box1, .box2, .box3, .box4{
                    width:45px;
                }
            }
        }
    }
    .white-card{
        padding:50px 0;
    }
    main{
        min-height: calc(100vh - 265px);
    }
    footer{
        bottom:80px;
       a{
           &:hover{
               text-decoration: none;
           }
           span{
               font-size:16px;
           }
           p{
               font-size:18px;
           }
       }
    }
    nav .logo{
        height:75px;
    }
    nav .info{
        a{
            font-size:22px;
        }
        .infoicon{
            width:22px;
        }
    }
}
