.search {
    form {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 25px;

        input[type='text'], select {
            width: 100%;
            height: 35px;
            font-size: 15px;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            padding-left: 10px;
            border-radius: 3px;
            border: 0;
        }

        input[type='text']::placeholder {
            color: #AFAFAF;
        }

        .searchbar {
            position: relative;
            height: 35px;
            width: 100%;
        }

        .search-button {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 33px;

            span {
                font-size: 16px;
                color: #AFAFAF;
            }

            .btn {
                cursor: pointer;

                &:focus, &:active {
                    box-shadow: none;
                }
            }
        }
    }

    .checkout-button {
        display: flex;
        width: 100%;

        input[type="submit"] {
            width: 100%;
            background: white;
            text-align: center;
            color: $purple;
            border-radius: 3px;
            border: none;
            padding: 5px;
            font-size: 16px;
        }
    }

    .search-desk {
        object {
            margin-top: $margin-16;
        }
    }

    .dropdown-menu{
        top: 35px;
        left: 0;
        width: 100%;
        display: none;
        font-size: 15px;
        font-weight: 300;
    }
    .search__result {
        b {
            text-transform: capitalize;
        }
        a:hover {
            text-decoration: none;
            color: #3B3B3B;
            background-color: #E5E5E5;

            i {
                color: #3B3B3B;
            }
        }
    }

    p.search__result {
        width: 318px;
        text-align: center;
    }

    p.light {
        font-weight: 300;
    }

}
