.thanks {
    display: flex;
    justify-content: center;
    color: black;
    .card{
        padding: 16px 15px 20px 15px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.30);
        .close{
            align-self: flex-end;
            cursor: pointer;
        }
    }
    .parrot {
        width: 70px;
        align-self:center;
        margin-bottom:20px;
    }

    p {
        width: 290px;
        text-align: center;
        font-size:18px;
        color: $secondary-font;
    }

    b {
        text-align: center;
        margin-bottom: 10px;
    }
}
