// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$margin-44: 44px;
$margin-20: 20px;
$margin-18: 18px;
$margin-16: 16px;
$margin-14: 14px;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #6300A7;
$light-purple: #992FE3;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$secondary-font: #7a7a7a;
